*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html,body{
    background:whitesmoke;
    color:black;
}

.top-bar{
    height:45px;
    background:#eb5605;
    width:100%;
}

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:5px 6%;
    background:#fff;
}

.logoimg{
    width:180px;
    height:auto;
}

nav{
    display:flex;
    gap:30px;
    align-items:center;
}

nav a{
    text-decoration:none;
    color:black;
    font-size:18px;
    font-weight:500;
}

nav a:hover{
    color:#0EA5E9;
}

.hero{
    height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#020617 0%,#0A2540 50%,#0EA5E9 100%);
}

.hero h1{
    font-size:70px;
    color:white;
    text-shadow:0 0 10px rgba(14,165,233,.6),
                0 0 20px rgba(14,165,233,.4);
}

.tagline{
    color:white;
    font-size:30px;
    margin:20px 0;
}

.middle{
    color:#ff5a00;
    text-shadow:0 8px 0 #3a241e;
    font-weight:700;
}

.search-box{
    display:flex;
    justify-content:center;
    margin:40px 0;
}

.search-box input{
    width:600px;
    max-width:90%;
    padding:18px 25px;
    border:none;
    border-radius:40px;
    font-size:20px;
    background:white;
    box-shadow:0 0 20px rgba(14,165,233,.4);
}

.song-container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

.song-card{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:white;
    border-radius:20px;
    padding:15px;
    margin-bottom:20px;
    box-shadow:0 0 10px gray;
    transition:.3s;
}

.song-card:hover{
    transform:translateY(-5px);
}

.song-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.song-card img{
    width:100px;
    height:100px;
    object-fit:cover;
    border-radius:15px;
}

.song-info h2{
    color:black;
    margin-bottom:5px;
}

.song-info p{
    color:#555;
}

.song-card audio{
    width:320px;
}

footer{
    margin-top:50px;
    color:white;
    text-align:center;
    padding:25px;
    background:#0A2540;
}

@media(max-width:768px){

    .hero{
        height:50vh;
    }

    .hero h1{
        font-size:38px;
    }

    .tagline{
        font-size:18px;
    }

    nav{
        display:none;
    }

    .song-card{
        flex-direction:column;
        text-align:center;
        gap:15px;
    }

    .song-left{
        flex-direction:column;
        gap:10px;
    }

    .song-card img{
        width:120px;
        height:120px;
    }

    .song-card audio{
        width:100%;
    }

    .search-box input{
        width:90%;
        font-size:16px;
        padding:14px 20px;
    }
}